<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UFT-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<title>Projeto Academico</title>
		<script src="https://kit.fontawesome.com/006642858d.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
		<meta name="author" content="Paulo Hoff">
		<link rel="stylesheet" href="css/style.css">
	</head>	
	
	<body>
		
		<div style="margin: 0; text-align: center;" class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong>Seja Bem Vindo!></span></strong>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
			
		<div th:replace="Fragmentos/fragmentos :: cabecalho"></div>
		
		<section class="neo-section" style="background-image: url('img/bg.jpg');">
		<div class="sombra"></div>	
		<div class="center neo-container">
			<h1 class="texto-centro">Sistema de Gerenciamento de Alunos</h1>
			
		<div class="botoes">
			<div class="vm">
				<h5 class="btnhome">CADASTRAR ALUNO</h5>
			</div>
			
			<div class="vm">
				<h5 class="btnhome justify-content-center">ENCONTRAR ALUNO</h5>
			</div>
			<div class="clear"></div>
		</div>
		</div>
		</section>
		
		<!-- Inicio do Modal -->
			<div class="modal fade" id="modalPesquisa">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Encontre um aluno</h5>
							<button type="button" class="close" data-bs-dismiss="modal" aria-label="close">
								<span>&times;</span>
							</button>
						</div>
						<form method="post" action="pesquisar-aluno" th:object="${aluno}">
							<div class="modal-body">
								<input class="form-control" placeholder="Digite o nome do aluno" th:field="*{nome}">
							</div>
							<div class="modal-footer">
								<button class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
								<button type="submit" class="btn btn-success">Pesquisar</button>
							</div>
						</form>
					</div>									
				</div>
			</div>
		
		<div th:replace="Fragmentos/fragmentos :: rodape"></div>
				
		<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>