<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UFT-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<title>Projeto Academia</title>
		<meta name="author" content="Paulo Hoff">
		<link rel="stylesheet" href="css/style.css">
	</head>	
	<body>	
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4527A0;">
				<a class="navbar-brand" href="#">
					<img src="img/logo.png" width="80px" height="80px"/>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div id="navMobile" class="navbar-collapse collapse justify-content-end">
					<a class="nav-item nav-link">Home</a>
					<a class="nav-item nav-link">Cadastrar Aluno</a>
					<a class="nav-item nav-link">Pesquisar Aluno</a>
					<a class="nav-item nav-link btn-danger">Sair</a>

				</div>
				
			</nav>
		</header>
		
		<section class="neo-section" style="background-image: url('img/bg.jpg');">
		<div class="sombra"></div>	
		<div class="center neo-container">
			<h1 class="texto-centro">Sistema de Gerenciamento de Alunos</h1>
			
		<div class="botoes">
			<div class="vm">
				<h5 class="btn">CADASTRAR ALUNO</h5>
			</div>
			
			<div class="vm">
				<h5 class="btn justify-content-center">ENCONTRAR ALUNO</h5>
			</div>
			<div class="clear"></div>
		</div>
		</div>
		</section>
		
		<footer>
			<div class="rodape">
				<span>Todos os Direitos Reservados - 2025 &copy; Paulo Hoff</span>
			</div>
		</footer>
				
		<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>